body {
	font-family: Arial, sans-serif;
}

table, thead, tbody, th, td, tr {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

.feature_block {
	margin: 2px;
}

.generated-profile {
	cursor: pointer;
}
