body {
	font-family: Arial, sans-serif;
}

table, thead, tbody, th, td, tr {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

div.stage {
	overflow: auto;
}

div.stage_horizontal_left {
	display:block;
	float:left;
}

div.stage_horizontal_right {
	display:block;
	float:right;
}

.feature_block {
	margin: 2px;
}

.stage-container {
	padding: 30px;
	border: 1px solid black;
}

.pair-box {
	text-align: center;
	margin: 0 auto;
}

.center-horizontally {
	display: inline-block;
}

.center-vertically {
	vertical-align: top;
}

.pairs td {
	padding: 5px 16px;
}
