$border-color: black;

div.stage {
  overflow: auto;
}

.stage_horizontal_left {
  display: inline-block;
}

.stage_horizontal_right {
  float:right;
}

input.next_stage {
  display: inline-block;
  width: 100%;
}

.parsed-mixture {
  margin: 30px;
  border: 2px solid $border-color;
  border-right-width: 1px;
  border-left-width: 1px;
}

.feature-block {
  padding: 5px 10px;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

table.parsed-table {
  width: 150px;
  margin: 30px;
  border: 2px solid black;
}

td.parsed-table-name {
  width: 6px;
  padding: 4px;
  border: 1px solid black;
}

td.parsed-table {
  padding: 4px;
}
