$border-color: black;

div.stage {
  overflow: auto;
}

.stage_horizontal_left {
  display: inline-block;
}

.stage_horizontal_right {
  float:right;
}

.parsed-mixture {
  margin: 30px;
  border: 2px solid $border-color;
  border-right-width: 1px;
  border-left-width: 1px;
}

.feature-block {
  padding: 5px 10px;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}
