.stage-container {
  padding: 30px;
  border: 1px solid black;
}

.pairs td {
  padding: 5px 16px;
  transition: background-color 0.25s ease-out;
}

.pair-box {
  text-align: center;
  margin: 0 auto;
}

.center-horizontally {
  display: inline-block;
}

.center-vertically {
  vertical-align: top;
}

.highlighted {
  background-color: rgba(242, 235, 72, 0.85);
}